@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root{
  --a:0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.left {
  width: 27vw;
  padding: 10px;
}

.right {
  width: 75vw;
  position: relative;
}

/* here we can use separate utility class for padding */
.home {
  padding: 15px;
}

.home ul li {
  display: flex;
  list-style: none;
  width: 14px;
  gap: 15px;
  padding-top: 14px;
  font-weight: bold;
}

.heading {
  display: flex;
  align-items: center;
  width: 14px;
  gap: 15px;
  padding-top: 14px;
  padding: 23px 14px;
  font-weight: bold;
  width: 100%;
  font-size: 11px;
}

.heading img {
  width: 26px;
}

.library {
  min-height: 80vh;
  position: relative;
}

.footer {
  display: flex;
  font-size: 10px;
  color: grey;
  gap: 13px;
  /* position: absolute; */
  bottom: 0;
  padding: 10px 0;
}

.footer a {
  color: grey;
}

.right {
  margin: 15px 0;
}

.nav img {
  width: 15px;
  font: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
}

.header>* {
  padding: 20px;
}

/* .popular-artists{
    display: flex;
   
}

.popular-artists li{
    display: flex;
} */

/* .popular-artists {
  margin-top: 10px;
  margin: 30px;
} */
/* .popular-artists ul {
  display: flex;
  list-style: none;
  gap: 14px;
} */

/* .popular-artists img {
  border-radius: 100%;
  width: 180px;
  border: transparent;
  padding: 5px;
} */
/* .artist-heading {
  font-weight: bold;
  margin: 10px 0;
  font-size: 24px;
} */

/* .artist-heading:hover {
  text-decoration: underline;
} */

/* .artist-text {
  margin: 5px 0;
  color: gray;
} */

.spotifyPlaylists {
  padding: 15px;
}


.card>* {
  padding-top: 10px;
}

.card img {
  width: 100%;
  /* height: 163px; */
  object-fit: contain;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 30px;
  overflow-y: auto;
  max-height: 70vh;
}

.card {
  width: 165px;
  padding: 10px;
  background-color: #252525;
  border-radius: 5px;
  position: relative;
  transition: all .8s;
}

.card:hover{
  background-color: rgb(65, 65, 65);
  cursor: pointer;
  --a:1
}

.play {
  position: absolute;
  right: 17px;
  top: 168px;
  opacity: var(--a);
  transition: all 1s ease-out;
}

.buttons>* {
  margin: 0px 12px;
}

.signup-btn {
  color: rgb(171, 171, 171);
  background-color: rgb(18 18 18);
  padding: 0 16px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.signup-btn:hover {
  transform: scale(1.2);

  color: white;
}

.login-btn {
  color: black;
  /* background-color: rgb(34, 34, 34); */
  background-color: white;
  border-radius: 21px;
  padding: 10px;
  width: 79px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  border: none;
}

.login-btn:hover {
  font-weight: bold;
  transform: scale(1.1);
}

.playbar {
  position: fixed;
  bottom: 10px;
  width: 66vw;
  min-height: 40px;
  filter: invert(1);
  border-radius: 10px;
  background-color: rgb(209, 208, 208);
  padding: 12px;
}

.songButtons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.songButtons img {
  width: 22px;
}

.songList {
  padding: 0 6px;
  height: 544px;
  overflow: auto;
  margin-bottom: 44px;
  /* margin: 44px 0; */
}

.songList ul {
  padding: 0 5px;
}

.songList ul li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 11px;
  padding: 10px 17px;
  cursor: pointer;
  border: 1px solid white;
  /* padding: 1px; */
  margin: 12px 0;
  border-radius: 5px;
}

.info {
  font-size: 14px;
  width: 344px;
}

.info div {
  word-break: break-all;
}

.hamburger {
  display: none;
}

.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}

.playnow span {
  font-size: 15px;
  width: 100px;
  padding-left: 10px;
}

.seekbar {
  height: 4px;
  width: 66vw;
  background: black;
  bottom: 0;
  position: absolute;
  border-radius: 10px;
  margin: 6px;
  cursor: pointer;
}

.circle {
  height: 13px;
  width: 13px;
  background-color: black;
  position: relative;
  bottom: 5px;
  left: 0%;
  border-radius: 13px;
  transition: left 0.5s;
}

.songButtons img {
  cursor: pointer;
}

.abovebar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.timevol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.songinfo {
  color: black;
  padding: 0 12px;
  width: 250px;
}

.songtime {
  color: black;
  padding: 0 12px;
  width: 125px;
}

.range label {
  display: none;
}

.range input{
  cursor: pointer;
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.close {
  display: none;
}


@media (max-width: 1200px) {
  .left {
    position: absolute;
    left: -120%;
    z-index: 1;
    transition: all .3s;
    width: 333px;
    background-color: black;
    padding: 0;
  }

  .timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 13px;
  }

  .songinfo,
  .songtime {
    width: auto;
  }

  .right {
    width: 100vw;
    margin: 0;
  }

  .playbar {
    width: calc(100vw - 75px);
  }

  .seekbar {
    width: calc(100vw - 100px);
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .left .close {
    position: absolute;
    display: block;
    right: 31px;
    top: 25px;
    width: 29px;
  }

  .nav:first-child {
    width: 38px;
  }

  .nav {
    display: none;
  }

  .card {
    width: 44vw;
  }

  .cardContainer {
    margin: 0;
    justify-content: center;
  }

  .abovebar {
    flex-direction: column;
    gap: 23px;
    align-items: center;
  }

  .cardContainer{
    max-height: 55vh;
  }

  .spotifyPlaylists h1 {
    padding: 16px;
  }

}

.hamburger {
  cursor: pointer;
}



.hamburgerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

@media (max-width: 400px) {

  .card{
    width: 84vw;
  }
  
}

@media (max-width: 663px) {

  .card{
    width: 84vw;
  }
  
}